<!DOCTYPE html>
<html ng-app="Printer">
	<head>
		<title>Printer</title>
		<link rel='stylesheet' href='/css/bootstrap.css' />
		<link rel='stylesheet' href='/css/bootstrap-theme.css' />
	</head>
	<body  ng-controller="FilesController">

		<!-- Header -->
		<div class="container">
			<div>
				<textarea cols="8" >
					texto aqui
				</textarea>
			</div>
		</div>

			<script type="text/javascript" src="/js/libs/jquery.js"></script>
			<script type="text/javascript" src="/js/libs/jquery.mb.browser.js"></script>
			<script type="text/javascript" src="/js/libs/angular.js"></script>
			<script type="text/javascript" src="/js/libs/bootstrap.js"></script>
			<script type="text/javascript" src="/js/config.js"></script>
			<script type="text/javascript" src="/js/browser-detection.js"></script>
			<script type="text/javascript" src="/js/ng/app.js"></script>
			<script type="text/javascript" src="/js/ng/files.js"></script>
	</body>
</html>